.matchContainer {
  width: 150px;
  height: 150px;

  background-color: #ffeefe;
  border: 1px solid #000;
}

.finished {
  width: 150px;
  height: 150px;

  text-align: center;
  
  background-color: aquamarine;
  border: 1px solid #000;
}

.timed {
  width: 150px;
  height: 150px;
  
  background-color: #f18cec;
  border: 1px solid #000;
}

.postponed {
  width: 150px;
  height: 150px;
  
  background-color: #fbf33b;
  border: 1px solid #000;
}

.tourneyAndDateContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 10px;
}

.tourneyLogo{
  width: 30px;
  height: 30px;
}

.teamContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.teamLogo{
  width: 30px;
  height: 30px;
}