.container {
  min-width: 300px;
  min-height: 100px;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  background-color: yellow;
}

.teamName {
  color: var(--color-text)
}

.lastMatchesLeagueContainer {
  padding: 10px 20px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #000;
}

.lastMatchesContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.lastMatches { 
  display: flex;
  gap: 5px;
}

.lastMatches span {
  width: 20px;
  height: 20px;
}

.matchResult_lose {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #ff5252;
  border: 1px solid #000;
} 

.matchResult_win {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #86ff66;
  border: 1px solid #000;
} 

.matchResult_draw {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: #0c65ff;
  border: 1px solid #000;
} 

.stadium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: var(--color-bg);
  border: 1px solid var(--color-text);
}

.rivalLogo {
  width: 20px;
  height: 20px;
}

.leagueEmblem{
  width: 90px;
  height: 90px;
}

.championsLeagueContainer {
  padding: 10px 20px 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #000;
}

.clEmblem {
  width: 32px;
  height: 32px;
}
