@font-face {
  font-family: "Poppins";
  src:
    url("../assets/fonts/Poppins-Regular.woff2") format("woff2"),
    url("../assets/fonts/Poppins-Regular.woff") format("woff"),
    url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  min-height: 100vh;
  background: var(--color-bg);
  color: var(--color-text);

  font-family: 'Poppins', serif;
  font-weight: 400;
}

#root {
  min-height: 100vh;
}

:root {
  --color-bg: #ffffff;
  --color-text: #00010D;
  --color-text-muted: rgba(0, 1, 13, 0.6);

  --color-bg-team-buttons: #7395AE;
  --color-bg-league-buttons: #ffffff;
}

.dark {
  --color-text: #ffffff;
  --color-bg: #1A1A1D;
  --color-text-muted: rgba(255, 255, 255, 0.65);

  --color-bg-team-buttons: #88BDBC;
  --color-bg-league-buttons: #434343;
}

