.container {
  display: flex;
  flex-direction: column;
  padding: 10px 50px;
  gap: 20px;
  width: 100%;
}

.currentLeagueEmblem {
  width: 100px;
  height: 100px;
}

.leaguesContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 1px solid rgba(34, 52, 72, 0.54);
  border-radius: 16px;
  background: rgb(167 213 247 / 10%);
  backdrop-filter: blur(8px);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  background-image: radial-gradient(circle at 1px 1px, rgba(0,0,0,0.05) 1px, transparent 1px);
  background-size: 24px 24px;
}

.leaguesContainer_currentLeague {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 180px;
  height: 180px;

  border-radius: 5px;
  border: 2px solid var(--color-text);

  position: relative
}

.leaguesContainer_currentLeague[data-league-code="PL"] {
  background-image: linear-gradient(rgba(24, 34, 45, 0.34), rgba(24, 34, 45, 0.34)), url('../../assets/cards-bg/epl-card-bg.jpg');
  background-position: center right;
}

.leaguesContainer_currentLeague[data-league-code="PD"] {
  background-image: linear-gradient(rgb(30 25 25 / 95%), rgba(24, 34, 45, 0.34)), url('../../assets/cards-bg/la-liga-card-bg.jpg');
}

.leaguesContainer_currentLeague[data-league-code="SA"] {
  background-image: linear-gradient(rgb(4 4 28 / 25%), rgb(88 173 181 / 34%)), url('../../assets/cards-bg/seriea-card-bg.jpg');
}

.leaguesContainer_currentLeague[data-league-code="BL1"] {
  background-image: linear-gradient(rgba(24, 34, 45, 0.34), rgba(24, 34, 45, 0.34)), url('../../assets/bg-leagues/bundesliga-bg.png');
  background-position: center right;
}

.leaguesContainer_currentLeague[data-league-code="FL1"] {
  background-image: linear-gradient(rgba(24, 34, 45, 0.24), rgba(24, 34, 45, 0.34)), url('../../assets/bg-leagues/ligue1-bg.png');
  background-position: bottom center;
}

.leaguesContainer_currentLeague[data-league-code="CL"] {
  background-image: linear-gradient(rgba(24, 34, 45, 0.24), rgba(24, 34, 45, 0.34)),url('../../assets/cards-bg/cl-card-bg.webp');
  background-position: center center;
}

.leaguesContainer_leagues {
  display: flex;
}

.currentLeagueSeason {
  position: absolute;
  content: '';
  bottom: 10px;
  right: 11px;
  padding: 0 7px;
  
  font-size: 15px;

  color: #fff;
  border-radius: 30px;
  background-color: #739295;
}

