.container {
  position: relative;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  padding: 20px 10px;
  border-radius: 5px;

  gap: 15px;

  border: 1px solid var(--color-text);
  background: transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;

  background: 
    linear-gradient(rgba(20, 30, 50, 0.7), rgba(20, 30, 50, 0.85)),
    url('../../assets/bg.jpeg');

  background-size: cover;
  background-position: center;

  /* filter: blur(3px); */
  /* transform: scale(1.05); */

  z-index: 0;
}

.container > * {
  position: relative;
  z-index: 1;
}