.main__container {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  justify-content: center;
  color: var(--color-text);
  background: var(--color-bg);
  width: 100%;
}

.sidebar {
  flex: 0 0 auto;
}

.content {
  flex: 1 1 auto;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.calendarButtonContainer {
  display: flex;
  gap: 5px;
}