.container {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.logo {
  width: 50px;
  height: 50px;
}