.tableRow {
  display: grid;
  grid-template-columns: 40px 1fr 40px;

  align-items: center;

  padding: 8px 10px;
  border-radius: 6px;

  transition: all 0.2s ease;
}

.position {
  font-weight: 600;
  color: var(--color-text-muted);
}

.team {
  display: flex;
  align-items: center;
  gap: 8px;

  font-weight: 500;
}

.tableLogo {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.points {
  text-align: right;
  font-weight: 700;
}

.tableRow:not(:last-child) {
  border-bottom: 1px solid red;
}

.tableRow:nth-child(-n+4) {
  background: #ccc;
}