body {
  display: flex;
  align-items: center;
  min-height: 80vh;
}

:root {
  --color-bg: #ffffff;
  --color-text: #000000;
}

.dark {
  --color-bg: #000000;
  --color-text: #ffffff;
}